*~
*.d
*.o
*.so
*.so.*
*.a
*.la
*.lo
*.html
.deps
.libs
examples/joystick
examples/signal
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
bench
test
libuev*.tar.*
libuev.pc
!libuev.pc.in
