
# Readline settings
set bell-style visible
set show-all-if-ambiguous on
set visible-stats on
set input-meta on
set convert-meta off
set output-meta on
set expand-tilde on
set completion-ignore-case on
set completion-query-items 10000

# Bindings - make it somewhat more like tcsh
"\C-r": redraw-current-line
"\C-d": delete-char-or-list

# Menu completion on Shift-TAB go back with Shift-F1
"\e[Z": menu-complete
"\e[1;2~": menu-complete
"\eO2P": "\e-\e[Z"

# More line editing
$if Bash
" ": magic-space
$endif
"\d": forward-backward-delete-char
"\C-h": backward-delete-char
"\C-x\C-h": backward-kill-line
"\C-x\C-s": reverse-search-history
"\C-x\C-f": forward-search-history
"\C-s": reverse-search-history
"\C-w": unix-filename-rubout
"\ew": unix-word-rubout
"\eu": undo

# CTRL Arrow up and down searches for what is typed so far
"\e[1;3A": history-search-backward
"\e[1;3B": history-search-forward
"\e[1;5A": history-search-backward
"\e[1;5B": history-search-forward

"\e[1;3D": backward-char
"\e[1;3C": forward-char
"\e[D": backward-char
"\e[C": forward-char

# Misc
"\C-xsk": dump-functions
# At least Rdlf has it
"\C-xsh": dump-history

"\C-xkr": kill-region
"\C-xcr": copy-region-as-kill

