Source: libuev
Priority: optional
Maintainer: Joachim Nilsson <troglobit@gmail.com>
Build-Depends: dpkg-dev (>= 1.14.9), debhelper (>= 9), dh-autoreconf
Standards-Version: 3.9.6
Section: libs
Homepage: https://github.com/troglobit/libuev/
Vcs-Git: https://github.com/troglobit/libuev.git
Vcs-Browser: https://github.com/troglobit/libuev/

Package: libuev-dev
Priority: extra
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libuev (= ${binary:Version})
Description: static library, header files, and docs for libuev
 Static library, header files, and documentation for libuev.
 .
 libuEv is a simple event loop in the style of the more established
 libevent, libev and the venerable Xt(3) event loop. The u (micro) in the
 name refers to both the small feature set and the small size overhead
 impact of the library.
 .
 Experienced developers may appreciate that libuEv is built on top of
 modern Linux APIs: epoll, timerfd and signalfd. Note however, a certain
 amount of care is needed when dealing with APIs that employ signalfd.

Package: libuev
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Lightweight event loop library
 libuEv is a simple event loop in the style of the more established
 libevent, libev and the venerable Xt(3) event loop. The u (micro) in the
 name refers to both the small feature set and the small size overhead
 impact of the library.
 .
 Experienced developers may appreciate that libuEv is built on top of
 modern Linux APIs: epoll, timerfd and signalfd. Note however, a certain
 amount of care is needed when dealing with APIs that employ signalfd.
