#!/usr/bin/make -f           
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with autoreconf

override_dh_compress:
	dh_compress -A -X.md

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog.md

override_dh_auto_install:
	dh_auto_install
	find debian -name LICENSE -delete
